*{
    margin: 0;
    padding: 0;
}
.principal{
    width: 390px;
    padding: auto;
    margin: auto;
    background-color: rgb(216, 213, 208);
    border: 1px solid rgb(132, 129, 129);
    margin-top: 10%;
    border-radius:7px;
}

.centrar{
    margin: 20px;
    text-align: center;
}
.form-group{
    margin: 20px;
}
.boton{
    background-color: #1b8306;
    color: white;
    height: auto;
    width: auto;
    border: black;
}
.boton:hover{
    background-color: #105203;
    color: white;
}
.text{
    color: white;
}

/*  BARRA DE NAVEGACION */

a{
    color: white;
}

.navbar{
    background-color: green;
}
.nav-item:hover{
    color: black;
}


.nActive{
    color: green;
}

.nActive:hover{
    color: white;
    background-color: #669934;;
}

/*   PAGINA PRINCIPAL  */
.imagenContainer{
    width: 300px;
    height: 300px;
    animation-delay: none;
    background: beige; 
    border: 1px solid black ;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    flex-wrap: wrap;
    display:inline-block;   
    color: black;
    border-radius: 5%;
}
.conte{
    align-items: stretch;
    justify-content: space-around;
    text-align: center;
}
